body
{
    background-color: #645F64;
    font-family: 'Fondamento', cursive;
    margin-left: auto;
    margin-right: auto;
}

.flexer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


header
{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header > h1
{
    margin-top: 60px;
    color:white;
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 2px black;
}

#left
{
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 600px;
    float: left;
    background-color: #423D3C;
    font-size: 20px;
    animation-name:from0to100;
    animation-duration: 4s;
}

#right
{
    margin-top: 100px;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 600px;
    float: right;
    background-color: #423D3C;
    font-size: 20px;
    animation-name:from0to100;
    animation-duration: 4s;
}

aside > h1
{
    color: white;
    text-shadow: 2px 2px black;

}

#container
{
    margin-left: auto;
    margin-right: auto;
    
}

img
{
    height: 100px;
    width: 100px;
    opacity: 0.5;
    max-width:100%;
   
}

img:focus
{
    outline: none;
}

img:hover
{
    opacity: 1;
}

#imgContainer
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    animation-name:from0to100 ;
    animation-duration: 4s;
    display: flex;
    flex-wrap: wrap;
}

#imgContainer > img
{
    animation: doABarrelRoll 2s;
}

span > img
{
    opacity: 1;
    
}

#rollHistory >  span
{
    font-size: 45px;
    animation-name:from0to100;
    animation-duration: 2s;
}

#circle
{
    margin-top:140px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:white;
    text-shadow: 2px 2px black;
    padding-top: 50px;
    font-size: 45px;
    width: 167px;
    height: 114px;
    background-color: #545054;
    border-radius: 360px;
    -webkit-box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
    box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
}

#rollInformation
{
    margin-top: 25px;
    font-size: 45px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px black;
}

footer
{
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px black;

}

footer:hover
{
    cursor: pointer;
}

select
{
    background-color: #423D3C;
    border-color: #423D3C;
    color:white;
    font-family: 'Fondamento', cursive;
    -webkit-appearance: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px black;
}

label
{
    color:white;
    text-shadow: 2px 2px black;
}

option
{
    text-align: center;
}

select:focus
{
    outline: none;
}

#changeButton
{
    width: 100px;
    height: 40px;
    background-color: #545054;
    font-size: 14px;
    font-family: 'Fondamento', cursive;
    color: white;
    border: none;
    -webkit-box-shadow: 10px 10px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -6px rgba(0,0,0,0.75);
    text-shadow: 2px 2px black;
}

#changeButton:focus
{
    outline: none;
    background-color: #545054;
}

#changeButton:hover
{
    width: 101px;
    height: 41px;
    background-color: #545054;
}

#changeButton:active
{
    opacity: 0.5;
}

@keyframes from0to100
{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes doABarrelRoll
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

@media(max-width:1339px)
{
    .flexer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #right
    {
        margin-left: auto;
        margin-right: auto;
        align-items: flex-start;
    }

    #left
    {
        margin-left: auto;
        margin-right: auto;
        align-items: flex-end;
    }

    #container
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
    }

    #circle
    {
        margin-top:140px ;
      
        text-align: center;
        color:white;
        text-shadow: 2px 2px black;
        padding-top: 50px;
        font-size: 45px;
        width: 167px;
        height: 114px;
        background-color: #545054;
        border-radius: 360px;
        -webkit-box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
        box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);

    }
    
    #imgContainer
    {
        margin-top: 50px;
        animation-name:from0to100 ;
        animation-duration: 4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        max-height:100%
    }
   
}