body
{
    background-color: #645F64;
    font-family: 'Fondamento', cursive;
    margin-left: auto;
    margin-right: auto;
}

header
{
    width: 1000px;
}

header > h1
{
    margin-top: 60px;
    color:white;
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 2px black;
}

#left
{
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 600px;
    float: left;
    background-color: #423D3C;
    font-size: 20px;
    animation-name:from0to100;
    animation-duration: 4s;
}

label
{
    color:white;
}


#right
{
    margin-top: 100px;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 600px;
    float: right;
    background-color: #423D3C;
    font-size: 20px;
    animation-name:from0to100;
    animation-duration: 4s;
}

aside > h1
{
    color: white;
    text-shadow: 2px 2px black;

}

#container
{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

img
{
    height: 100px;
    width: 100px;
    opacity: 0.5;
    
}

img:focus
{
    outline: none;
}

img:hover
{
    opacity: 1;
}

#imgContainer
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:750px ;
    animation-name:from0to100 ;
    animation-duration: 4s;
}

#imgContainer > img
{
    animation: doABarrelRoll 2s;
}

span > img
{
    opacity: 1;
    
}

#rollHistory >  span
{
    font-size: 45px;
    animation-name:from0to100;
    animation-duration: 2s;
}


#circle
{
    margin-top:140px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:white;
    text-shadow: 2px 2px black;
    padding-top: 50px;
    font-size: 45px;
    width: 167px;
    height: 114px;
    background-color: #545054;
    border-radius: 360px;
    -webkit-box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
    box-shadow: 14px 13px 22px -12px rgba(0,0,0,0.75);
}

#rollInformation
{
    margin-top: 25px;
    font-size: 45px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px black;
}

footer
{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

footer:hover
{
    cursor: pointer;
}


select
{
    background-color: #423D3C;
    border-color: #423D3C;
    color:white;
    font-family: 'Fondamento', cursive;
    -webkit-appearance: none;
    font-size: 20px;
    text-align: center;
}

option
{
    text-align: center;
}

select:focus
{
    outline: none;
}

#changeButton
{
    width: 100px;
    height: 40px;
    background-color: #594D4D;
    font-size: 14px;
    font-family: 'Fondamento', cursive;
    color: white;
    border: none;
}

#changeButton:focus
{
    outline: none;
    background-color: #4F4449;
}

#changeButton:hover
{
    background-color: #4F4449;
}

#changeButton:active
{
    opacity: 0.5;
}


@keyframes from0to100
{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes doABarrelRoll
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}